@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ul.gap-list li:not(:last-child) {
    @apply mb-2;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard";
}

@font-face {
  font-family: "amiko";
  src: url("/Amiko-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MonoplexKRWide-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-wide@1.0/MonoplexKRWide-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.bordered {
  color: black;
  text-shadow: -1px -1px 0 cyan, 1px -1px 0 cyan, -1px 1px 0 cyan,
    1px 1px 0 cyan;
}

.title-container {
  transform-style: preserve-3d;
  transform: scaleX(1.2);
}

@keyframes circular {
  from {
    transform: perspective(1000px) rotateY(360deg);
  }
  to {
    transform: perspective(1000px) rotateY(0deg);
  }
}

.circle {
  transform-style: preserve-3d;
  animation: circular 8s linear infinite;
  transform-origin: center;
}

.circle .char {
  font-family: "MonoplexKRWide-Bold", monospace;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px cyan;
  font-size: 3rem;

  text-shadow: 0px 0px 10px cyan;
  transform-style: preserve-3d;
  transform-origin: center;
  transform: rotateY(calc(var(--char-index) * 360deg / var(--length)))
    translateZ(450px) scaleX(2);
}

.circle-container {
  transform-style: preserve-3d;
  transform-origin: center;
  transform: rotate(15deg) rotateX(355deg) scale(0.6);
}

@media (max-width: 1024px) {
  .circle .char {
    font-size: 1.5rem;
    transform: rotateY(calc(var(--char-index) * 360deg / var(--length)))
      translateZ(200px) scaleX(2);
  }
}

@keyframes mouse-scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateY(8px);
    opacity: 1;
  }
  80%,
  100% {
    transform: translateY(8px);
    opacity: 0;
  }
}

.mouse-scroll {
  animation: mouse-scroll 1.5s linear infinite;
}

.swiper-slide {
  height: 100vh !important;
}

@keyframes up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.up {
  animation: up 0.5s 0.2s ease backwards;
}
