@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "amikobold";
  src: url("Amiko-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes title {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.title {
  animation: title 0.4s ease backwards;
}
.title-container:nth-child(2) .title {
  animation-delay: 0.5s;
}
.title-container:nth-child(3) .title {
  animation-delay: 1s;
}
